<!DOCTYPE html>
<html lang="en">
<head>
  <link id="theme-style" rel="stylesheet" href="/components/colorComponent/light.css">
 
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Theme Switcher</title>
</head>
<body>
  <div class="w-50 poll-box d-flex flex-column gap-3">
    <h4 class="w-100 text-center">Theme Color</h4>
    <div class="w-100 d-flex justify-content-center gap-3">
        <button onclick="switchToLight()" type="button" class="btn btn-secondary w-50">Light Mode</button>
        <button onclick="switchToDark()" type="button" class="btn btn-dark w-50">Dark Mode</button>
    </div>
  </div>
  <script type="text/javascript">
    function switchToDark (){
        document.getElementById('theme-style').href ='/components/colorComponent/dark.css';
        localStorage.setItem('theme', '/components/colorComponent/dark.css');
        setCookie('themeMode', 'dark', 7);
        console.log("switched to dark mode");
    }
    function switchToLight (){
        document.getElementById('theme-style').href ='/components/colorComponent/light.css';
        localStorage.setItem('theme', '/components/colorComponent/light.css');
        setCookie('themeMode', 'light', 7);
        console.log("switched to light");
    }

function setCookie(name, value, days){
  const expires = days
      ? `; expires=${new Date(Date.now() + days * 864e5).toUTCString()}`
      : "";
    document.cookie = `${name}=${value ?? ""}${expires}; path=/`;
}


function getCookie(name){
  const nameEQ = name + "=";
  const decodedCookie = decodeURIComponent(document.cookie);
  const cArray = decodedCookie.split(';');
  for (let i =0; i < cArray.length; i++){
    let c = cArray[i];
    if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length); 
  }
  return null;
}


function applyTheme() {
    const savedTheme = localStorage.getItem('theme');
    const cookieTheme = getCookie('themeMode');
    const preferredTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
  }

  const themeToApply = cookieTheme || (savedTheme ? 
        (savedTheme.includes('dark') ? 'dark' : 'light') : preferredTheme);
      
      document.getElementById('theme-style').href = 
        `/components/colorComponent/${themeToApply}.css`;
    



  window.addEventListener('DOMContentLoaded', applyTheme);




  
</script>
</body>
</html>



<!-- save the click to local storage as a cookie
 name cookie themeMode
 get cookie value from storage and save to const/variable- savedTheme
  if savedTheme = dark, then add dark class
  if savedTheme = light, add light class
  else use auto
  create fxn for setTheme(string) {}
  pass in string ("") from fxn
  pass in null for auto theme
  have to remove previous class and add updated class from elements
  document.body.classList.add('dark');
                         .remove
  
 same line of code, do if statement//const savedTheme = getCookie('themeMode');
 -->