<!DOCTYPE html>
<html lang="en">
<head>
  <link id="theme-style" rel="stylesheet" href="/components/colorComponent/light.css">
 
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Theme Switcher</title>
</head>
<body>
  <div class="w-50 poll-box d-flex flex-column gap-3">
    <h4 class="w-100 text-center">Theme Color</h4>
    <div class="w-100 d-flex justify-content-center gap-3">
        <button onclick="switchToLight()" type="button" class="btn btn-secondary w-50">Light Mode</button>
        <button onclick="switchToDark()" type="button" class="btn btn-dark w-50">Dark Mode</button>
    </div>
  </div>
  <script type="text/javascript">
    function switchToDark (){
        document.getElementById('theme-style').href ='/components/colorComponents/dark.css';
        localStorage.setItem('theme', '/components/colorComponents/dark.css');
        console.log("switched to dark mode")
    }
    function switchToLight (){
        document.getElementById('theme-style').href ='/components/colorComponents/light.css';
        localStorage.setItem('theme', '/components/colorComponents/light.css');
        console.log("switched to light")
    }
  
function setCookie(name, value, days){
  const expires = days
      ? `; expires=${new Date(Date.now() + days * 864e5).toUTCString()}`
      : "";
    document.cookie = `${name}=${value ?? ""}${expires}; path=/`;
}


function getCookie(themeMode){
  let name = themeMode + "=";
  const decodedCookie = decodeURIComponent(document.cookie);
  const cArray = decodedCookie.split(';');
  for (let i =0; i < cookies.length; i++){
    let c = cArray[i];
    if (c.indexOf(name) === 0) return c.substring(name.length); 
  }
  return null;
}


function setTheme(mode) {
    const theme = mode ?? (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
    document.body.classList.remove('dark', 'light');
    if (theme === 'dark' || theme === 'light') document.body.classList.add(theme);
    setCookie('themeMode', mode, 7); 
  }

window.addEventListener('DOMContentLoaded', () => {
  const savedTheme = getCookie('themeMode');
  setTheme(savedTheme === "" ? null : savedTheme);
});




  
</script>
</body>
</html>



<!-- save the click to local storage as a cookie
 name cookie themeMode
 get cookie value from storage and save to const/variable- savedTheme
  if savedTheme = dark, then add dark class
  if savedTheme = light, add light class
  else use auto
  create fxn for setTheme(string) {}
  pass in string ("") from fxn
  pass in null for auto theme
  have to remove previous class and add updated class from elements
  document.body.classList.add('dark');
                         .remove
  
 same line of code, do if statement//const savedTheme = getCookie('themeMode');
 -->