<div class="justify-content-between poll-box d-flex py-5 flex-column gap-3 px-5"  style="height: 22vh;">
  <div class="d-flex flex-column gap-2">
    <h5 class="w-100 mb-0">Search for poll</h5>
    <input id="pollIdInput" class="p-2 rounded" placeholder="Enter Poll ID">
  </div>

  <div class="w-100 d-flex justify-content-center gap-3">
    <button type="button" class="btn btn-danger" id="clearButton">Clear</button>
    <button type="button" class="btn btn-primary" id="searchIdButton">Search</button>
  </div>
</div>