<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <footer style="background-color:rgb(173, 129, 216); position: fixed; bottom: 0; left: 0; width: 100%; padding: 24px;">
        Authors: Ms. Summers's Summer 25 Internship Team 
        <a href="mailto:ssummers@highpoint.edu">Email Ms. Summers Here</a>
        <br>
        <a href="https://www.highpoint.edu/">High Point University's Website</a>
        <br>
        &copy High Point University. All rights reserved.
        </footer>
    </body>
</html>