<!-- components/viewCreatedPolls.html -->
 
<div class="poll-box d-flex flex-column gap-3" id="viewCreatedPolls">
    <h3>My Created Polls</h3>
    <div class="border border-dark-subtle rounded p-3 d-flex flex-column gap-2">
        <div style="color: gray;">Question [Hard Coded]</div>
        <div>What is your prefered color?</div>

        <!--Need to figure out how to pull question to replace above text-->
        <div class="d-flex gap-2">
            <button type="button" class="btn btn-outline-primary" onclick="editPoll(pollID, updates)">Edit</button>
            <button type="button" class="btn btn-outline-danger" onclick="deletePoll(pollID)">Delete</button>
        </div>
        <!--I do not have functionality for the above buttons, and I need to pull the IDs for these to work. Also, the style of the buttons looks weird. -->
        <!-- <p>You have not created any polls.</p> -->
        <!--Need to figure out how to make the above text only show if there is no polls-->
    </div>
    <div class="border border-dark-subtle rounded p-3 d-flex flex-column gap-2">
        <div style="color: gray;">Question [Hard Coded]</div>
        <div>Should governments regulate AI to ensure safety, even if it slows innovation?</div>

        <!--Need to figure out how to pull question to replace above text-->
        <div class="d-flex gap-2">
            <button type="button" class="btn btn-outline-primary" onclick="editPoll(pollID, updates)">Edit</button>
            <button type="button" class="btn btn-outline-danger" onclick="deletePoll(pollID)">Delete</button>
        </div>
        <!--I do not have functionality for the above buttons, and I need to pull the IDs for these to work. Also, the style of the buttons looks weird. -->
        <!-- <p>You have not created any polls.</p> -->
        <!--Need to figure out how to make the above text only show if there is no polls-->
    </div>
</div>