<!-- components/viewCreatedPolls.html -->
 
<div class="poll-box" id="viewCreatedPolls">
    <h3>My Created Polls</h3>
    <p>Question</p>
    <!--Need to figure out how to pull question to replace above text-->
    <button onclick="editPoll(pollID, updates)">Edit</button>
    <button onclick="deletePoll(pollID)">Delete</button>
    <!--I do not have functionality for the above buttons, and I need to pull the IDs for these to work. Also, the style of the buttons looks weird. -->
    <p>You have not created any polls.</p>
    <!--Need to figure out how to make the above text only show if there is no polls-->
</div>