<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="pollstyles.css" />
    </head>
    <body>
        <div class="poll-box" id="viewCreatedPolls">
            <h3>My Created Polls</h3>
            <p>Question</p>
            <button onclick="editPoll(pollID, updates)">Edit</button>
            <button onclick="deletePoll(pollID)">Delete</button>
        </div>
    </body>
</html>